@use '@styles/variables' as *;

.filterDialogContainer {
  width: 400px;
  padding: 24px;
  padding-top: 16px;
  min-height: 0;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid $color-gray-light;
  top: -112px;
  position: absolute;
  right: -13px;
  background: $color-white;
  border-radius: 16px !important;
}

.filterDialogContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;

  & .MuiOutlinedInput-root {
    border-radius: 8px;
    height: 48px;
  }

  & .MuiInputLabel-root:not(.MuiInputLabel-shrink) {
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
  }

  & .MuiInputLabel-root.MuiInputLabel-shrink {
    top: 0;
    left: 0;
  }
}

.filterCloseButton {
  position: absolute !important;
  right: 8px;
  top: 8px;
}

.filterDialogTitle {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  color: $color-black !important;
  margin-bottom: 2rem !important;
}

.filterDialogActions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  [class*="MuiButton-colorSecondary"]:first-child {
    padding: 0;
  }
}

.filterDialogPopper {
  z-index: 1400;
}
