@use '@styles/variables' as *;

.container {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  [class*='MuiTableContainer-root'] {
    padding: 0;
  }

  [class*='MuiTabs-root'] {
    margin-right: auto;
  }

  [class*='MuiTabs-scroller'] {
    [class*='MuiTabs-flexContainer'] {
      border: solid 1px $color-border;
      border-radius: 12px;
    }

    [class*='MuiTabs-indicator'] {
      display: none;
    }

    [class*='MuiButtonBase-root-MuiTab-root'] {
      border-right: solid 1px $color-border;
      color: $color-gray-dark;
      background: $color-white;

      &:first-child {
        border-radius: 12px 0 0 12px;
      }

      &:nth-last-of-type(1) {
        border-radius: 0 12px 12px 0;
        border-right: 0;
      }

      &[class*='Mui-selected'] {
        background-color: $color-secondary;
        color: $color-white;
      }
    }
  }
}

.tabContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  [class*='MuiInputBase-root-MuiOutlinedInput-root'] {
    border-radius: 12px;
    background-color: $color-white;
  }

  [class*='MuiTabs-scroller'] {
    [class*='MuiTabs-flexContainer'] {
      border: 0;
      border-bottom: solid 1px $color-border;
      border-radius: 0;
    }

    [class*='MuiTabs-indicator'] {
      display: block;
    }

    [class*='MuiButtonBase-root-MuiTab-root'] {
      border-right: 0;
      color: $color-gray-dark;
      background: transparent;

      &:first-child {
        border-radius: 0;
      }

      &:nth-last-of-type(1) {
        border-radius: 0;
      }

      &[class*='Mui-selected'] {
        background-color: $color-white;
        color: $color-secondary;
        border-right: solid 1px $color-border;
        border-left: solid 1px $color-border;

        &:first-child {
          border-left: 0;
        }
      }
    }
  }

  [class*='cardcell'] {
    background-color: $color-white;
  }
}

.tableContainer {
  border: solid 1px $color-table-border;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
}

.headerRow {
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;

  button {
    padding: 0.75rem 1.25rem;

    &:hover,
    &:focus,
    &:active {
      svg {
        path {
          fill: $color-white;
        }
      }
    }
  }
}

.gridContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: flex-end;
}

.textField {
  width: 50%;

  > div {
    border-radius: 12px;
    background-color: $color-white;
    width: 100%;
    border-color: $color-gray-medium;
  }
}

.datePicker {
  width: 50%;
  align-self: flex-end;

  > [class*='MuiStack-root'] {
    > div {
      width: 100% !important;
    }
  }

  [class*='MuiPickersTextField-root'] {
    border-radius: 12px;
    background-color: $color-white;
    width: 100%;
    border-color: $color-gray-medium;
  }
}

.inputContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.selectField {
  width: 25%;

  > div {
    border-radius: 12px;
    background-color: $color-white;
    width: 100%;
    border-color: $color-gray-medium;
  }

  [class*='MuiInputBase-root-MuiOutlinedInput-root'] {
    height: 48px;
  }

  [class*='MuiFormLabel-root-MuiInputLabel-root'] {
    top: 4px;
  }
}

.seelctDatePicker {
  width: 25%;
  align-self: flex-end;

  > [class*='MuiStack-root'] {
    > div {
      width: 100% !important;
    }
  }

  [class*='MuiPickersTextField-root'] {
    border-radius: 12px;
    background-color: $color-white;
    width: 100%;
    border-color: $color-gray-medium;
  }
}

.searchWithButton {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.container {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  form {
    border-radius: 16px;
    border: solid 1px $color-table-border;
    overflow: hidden;

    > div > div {
      &:first-child {
        margin-bottom: 0;
      }

      &:nth-of-type(2) {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

.btnContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.batchContainer {
  background-color: $color-white;
  border: solid 1px $color-table-border;
  border-radius: 1rem;

  .batchHeader {
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $color-table-border;

    button {
      align-items: center;
      gap: 0.5rem;
      padding: 0;
      font-size: 15px;
      display: flex;
      min-height: auto;
    }
  }

  .batchHeaderTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .batchHeaderTitleText {
    font-weight: 400;
    font-size: 18px;
    color: $color-gray-dark;
  }

  .batchActionBtns {
    display: flex;
    gap: 1rem;
  }

  .batchContent {
    padding: 0.75rem;
  }

  .batchInnerContent {
    border: solid 1px $color-table-border;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .batchInnerHeader {
    padding: 0.75rem;
    border-bottom: solid 1px $color-table-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    .batchInnerHeaderTitle {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .batchInnerHeaderTitleText {
        font-weight: 400;
        font-size: 16px;
        color: $color-gray-dark;
      }
    }

    button {
      display: flex;
      gap: 0.5rem;
      padding: 0;
    }

    .searchField > div,
    .searchBatchField > div {
      border-radius: 1rem;
    }
  }

  .batchInnerBody {
    padding: 0.75rem;
    background: $color-grey-200;
    overflow: auto;
    max-height: 320px;
  }

  .batchInnerFooter {
    background: $color-white;
    border-top: solid 1px $color-table-border;
  }

  .batchList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .batchListItemHeader {
    display: flex;
    gap: 1rem;
    padding: 0.75rem;
    justify-content: space-between;

    .batchListItemHeaderLeft {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .batchListItemHeaderText {
        font-weight: 400;
        font-size: 14px;
        color: $color-gray-dark;
      }
    }

    .batchListItemHeaderRight {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .batchListItemHeaderLabel,
      .batchListItemHeaderValue {
        font-weight: 400;
        font-size: 14px;
        color: $color-gray-dark;
      }

      .batchListItemHeaderValue {
        font-weight: 600;
      }
    }
  }

  .batchListItemContent {
    display: none;
    gap: 1rem;
    padding: 0.75rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .batchListItemContentRow {
    width: calc(50% - 8px);
  }

  .batchListItemContentRowLabel,
  .batchListItemContentRowValue {
    font-weight: 400;
    font-size: 14px;
    color: $color-gray-dark;
  }

  .batchListItemContentRowValue {
    font-weight: 600;
  }

  .expanded {
    display: flex;
    border-top: solid 1px $color-table-border;
  }
  .batchListItem {
    border-radius: 0.5rem;
    border: solid 1px $color-table-border;
    background: $color-white;
  }
}

.fiilterInnerContainer {
  border-bottom: 1px solid $color-gray-light;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 1rem 0 2rem;
  display: flex;

  .inputLabel {
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-black;
  }
}

.marginBottomSpace1 {
  margin-bottom: 1rem;
}

.firstFilterBox {
  border-top: 1px solid $color-gray-light;
  margin-top: 1rem;
  padding-top: 2rem;
}

.filterSelectContainer {
  border-top: solid 1px $color-gray-light;
  margin-top: 1rem;
  padding-top: 2rem;
  gap: 2rem;
}

.filterSelectBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.filterDialogContainer {
  width: 400px;
  padding: 24px;
  padding-top: 16px;
  border-radius: 16px;
  min-height: 0;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid $color-gray-light;
  top: -112px;
  position: absolute;
  right: -13px;
  background: $color-white;
  border-radius: 16px !important;
}

.filterDialogContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;

  & .MuiOutlinedInput-root {
    border-radius: 8px;
    height: 48px;
  }

  & .MuiInputLabel-root:not(.MuiInputLabel-shrink) {
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
  }

  & .MuiInputLabel-root.MuiInputLabel-shrink {
    top: 0px;
    left: 0px;
  }
}

.filterCloseButton {
  position: absolute !important;
  right: 8px;
  top: 8px;
}

.filterDialogTitle {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  color: $color-black !important;
  margin-bottom: 2rem !important;
}

.filterDialogActions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  [class*='MuiButton-colorSecondary']:first-child {
    padding: 0;
  }
}

.filterDialogPopper {
  z-index: 1400;
}

.stepDescription {
  color: $color-gray-600;
  font-size: 13px;
}

.accountDropdownContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2;
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.accountDropdown {
  & .MuiOutlinedInput-root {
    border-radius: 5px;
    min-height: 60px !important;
    max-height: 60px !important;
    height: 60px !important;
  }
  & .MuiInputBase-root {
    min-height: 60px !important;
    max-height: 60px !important;
    height: 60px !important;
  }
  & .MuiFormControl-root {
    min-height: 60px !important;
    max-height: 60px !important;
    height: 60px !important;
  }
}

.accountDropdownBox {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.feeOptionSelect {
  width: 50%;
}

.batchBtnContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  button {
    padding: 0.75rem 1.25rem;

    &:nth-last-child(1) {
      &:hover,
      &:focus,
      &:active {
        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }
  }
}

.searchBatchField {
  width: 470px !important;
  margin-left: auto !important;
}

