@font-face {
  font-family: BentonSansProBold;
  src: url("/fonts/BentonSansProBold_normal_normal.eot");
  src: url("/fonts/BentonSansProBold_normal_normal.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BentonSansProBold_normal_normal.woff2") format("woff2"),
    url("/fonts/BentonSansProBold_normal_normal.woff") format("woff"),
    url("/fonts/BentonSansProBold_normal_normal.ttf") format("truetype"),
    url("/fonts/BentonSansProBold_normal_normal.svg#BentonSansProBold_normal_normal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BentonSansProMedium;
  src: url("/fonts/BentonSansProMedium_normal_normal.eot");
  src: url("/fonts/BentonSansProMedium_normal_normal.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BentonSansProMedium_normal_normal.woff2") format("woff2"),
    url("/fonts/BentonSansProMedium_normal_normal.woff") format("woff"),
    url("/fonts/BentonSansProMedium_normal_normal.ttf") format("truetype"),
    url("/fonts/BentonSansProMedium_normal_normal.svg#BentonSansProMedium_normal_normal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BentonSansProRegular;
  src: url("/fonts/BentonSansProRegular_normal_normal.eot");
  src: url("/fonts/BentonSansProRegular_normal_normal.eot?#iefix") format("embedded-opentype"),
    url("/fonts/BentonSansProRegular_normal_normal.woff2") format("woff2"),
    url("/fonts/BentonSansProRegular_normal_normal.woff") format("woff"),
    url("/fonts/BentonSansProRegular_normal_normal.ttf") format("truetype"),
    url("/fonts/BentonSansProRegular_normal_normal.svg#BentonSansProRegular_normal_normal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
