$color-bg: #f9fafb;
$color-text: #1f2937;
$color-primary: #2563eb;
$color-primary-hover: #1d4ed8;
$radius-sm: 4px;
$spacing-base: 1rem;
$color-secondary: #0051FF;
$color-border: #E3E6EA;
$color-gray-medium: #697786;
$color-white: #fff;
$color-gray-dark: #222E37;
$color-table-border: #CED3D9;
$color-grey-200: #F8F8FA;
$color-gray-500: #465463;
$color-blue-700: #03A;
$color-black: #02070D;
$color-gray-light: #CED3D9;
$color-gray-600: #999;
$color-error: #DC0A0A;
